<% if flash[:notice] %>
  <div id="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if object.errors.any? %>
  <div id="errorExplanation">
    <h2><%= t('activerecord.errors.template.header', :count => object.errors.size) %></h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>Pole <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>